.delete {
    text-decoration: line-through;
}

.pie-around {
    display: flex;
    justify-content: center;
}

.pie {
    width: 500px;
    /* display: flex;
    justify-self: center;
    align-items: center; */
    margin: 30px;
}

.hide {
    display: none;
}

.highlight {
    font-weight: bold;
}

.highlight-box {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.budget-spend-remain {
    display: flex;
    justify-content: center;
}
